footer {
    padding: 3rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 15rem;
    background-color: var(--branco);
    width: 96.7vw !important;
    gap: 1rem;
    left: 2%;
    position: relative;
    border-radius: 12px;
}

.logo-rodape {
    margin: 0 0 1rem 0;
    width: 125px;
}

.descricao-rodape {
    color: var(--preto);
    font-family: "Figtree", sans-serif;
    font-size: 14px;
}

.menu-rodape {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.menu-footer a {
    color: var(--preto);
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.menu-footer p {
    color: var(--preto);
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    margin: 0px;
    text-decoration: none;
}

p.copy {
    color: var(--preto);
    font-family: "Figtree", sans-serif;
    font-size: 14px;
}

.redes a {
    text-decoration: none !important;
}

@media (min-width: 320px) and (max-width: 768px) {
    footer {
        padding: 3rem 15rem;
        flex-direction: column;
        padding: 3rem 15px;
        gap: 0px;
    }

    .menu-rodape {
        flex-direction: column;
        gap: 20px;
    }

    p.copy {
        font-size: 12px !important;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1366px) {
    footer {
        padding: 3rem 6rem;
    }

}

@media (min-width: 1921px) and (max-width: 2560px) {
    footer {
        padding: 3rem 30rem;
    }

    .descricao-rodape {
        font-size: 18px;
    }

    .logo-rodape {
        margin: 0 0 2rem 0;
        width: 210px;
    }

    .menu-footer img {
        width: 10px;
    }

    .menu-footer a {
        font-size: 18px;
    }

    #encontre img {
        width: 20px;
    }

    .menu-footer p {
        font-size: 20px;
    }

    p.copy {
        font-size: 18px;
    }
}