.materiais {
    display: flex;
    flex-direction: row;
    padding: 5rem 15rem;
    gap: 1rem;
}

.materiais img {
    width: 100%;
}

#materiais-acoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 20rem;
}

@media (min-width: 769px) and (max-width: 1023px) {}

@media (min-width: 1024px) and (max-width: 1366px) {}